 /*主頁 */
 /* 移除預設邊距 */
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
   body {
     font-family: "微軟正黑體", sans-serif;
      background-color: ##222222;
	  height: 100vh;
	  display: flex;
      color: #fff;
	  overflow:hidden;
    }
	.icon-line {
		display: inline-block;
		width:50px;
		font-size: 2rem;
		padding-left: 10px;
		animation: bounce 2s infinite;
    }
	.tittle{
		display: inline-block;
		width:200px;
	}
	.tittle-text{
		margin:1px 20px;
		width:90%;
	}

    /* 動畫效果 */
    @keyframes bounce {
      0%, 100% { transform: translateY(4); }
      50% { transform: translateY(-4px); }
    }
.sidebar {
    width: 160px;
    height: 100vh;
	background-color: #222;
    padding: 10px 0;
    position: relative;
    overflow: visible; 
}
.tab {
      padding: 10px;
      background-color: #444;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;
      white-space: nowrap;
      overflow: visible;
      position: relative;
    }
	.tab:hover,
    .tab.active {
      background-color: #f2af3e;
      padding-right: 30px;
	  color: #000;
	   font-weight: bold;
	  
    }
	.tab.active::after {
      content: "";
      position: absolute;
      right: -10px;
      top: 0;
      height: 100%;
      width: 10px;
      background-color: #F5B027;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
.contents{
	background: #333333;
}	
.pages {
    display: none;
}
.boxs{
}
.left-box{
	width:80%;
}
.visitor-counter{
	max-width:250px;
	width:auto;
	  position: fixed;
	  text-align: right;
      right: 20px;
      bottom: 20px;
      padding: 10px 15px;
      border-radius: 20px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	  color:#a0a0a0;
      font-size: 1rem;
      z-index: 999;
}
.top-box{
	width:100%;
}
.top-icon{
	width: 50px;
	height: 50px;
	background-position: center;
	margin-left:10px;
	display: inline-block;
}
.top-icon:hover{
	margin-left:15px;
}
.pages.active {
    display: block;
}
/*技能*/
.info {
    margin-left: 10px;
	  display: inline-block;
	  width:150px;
	  color:#bbb;
	}
	.info small {
	  font-size: 12px;
	  color: #aaa;
	}
	.controls {
	  width: 60px;
	}
	button {
	  width: 24px;
	  height: 24px;
	  font-weight: bold;
	  font-size: 14px;
	  color: #000;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}
	 .btnlearn {
	  width: 48px;
	  height: 26px;
	  font-weight: bold;
	  font-size: 14px;
	  color: #000;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}
	.plus {
	width: 48px;
	height: 26px;
	background: #8f8; 
	}
	.points {
	  margin-top: 10px;
	}
	.icon {
	filter: brightness(0.4);
	width: 42px;
	height: 32px;
	background-size: cover;
	border: 1px solid #555;
	background-position: center;
	}
	.skill {
    display: flex;
    align-items: center;
    background: #333;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
}

	.skill-container {
		background: #444;
		border-radius: 6px;
		padding: 10px;
		width: 270px;
		max-height: 700px;  /* 滾動區高度 */
		overflow-y: auto;   /* 開啟垂直拉霸 */
	}
	.skill-container::-webkit-scrollbar {
	  width: 10px;
	}
	.skill-container::-webkit-scrollbar-track {
	  background: #222;   /* 滾動條軌道背景 */
	  border-radius: 4px;
	}
	.skill-container::-webkit-scrollbar-thumb {
	  background: #888;   /* 滾動條本體顏色 */
	  border-radius: 4px;
	}
	.skill-columns {
		flex: 1; 
		padding: 0px 10px;
		min-height:800px;
		max-width:1400px;
		border-radius: 8px;
		border: 1px solid #ccc;
		
	}
	.column {
		display: inline-grid;
		overflow: auto; 
		width:270px;
	}
	.text1{
	padding: 10px 20px;
	margin: 10px 0px;
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	background: #222222;
	border: 1px solid #ffffff7a;
	transition: all 0.2s ease;
	border-radius: 6px;
	width:250px;
	}
/*說明框*/
.box {
	position: absolute;
	z-index: 9999;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.8);
	width:180px;
	padding: 10px;
	border-radius: 8px;
	border:1px solid;
	color: white;
	font-size: 14px;
	display:none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
.box-right {
   top: 0;
  left: auto;
  right: auto;
  margin-left: 185px;
}
.minus:active{
	background-color: #3498db;
  color: white;
}
.plus:active {
	background-color: #3498db;
  color: white;
}
.btnlearn:active{
background-color: #3498db;
 color: white;
}
.btnlearn:hover{
	background-color: #F5B027;
}
.btnreset{
	 width: 48px;
	 height: 26px;
	 background-color:#F54927;
}
.btnreset:hover{
	background-color:#F5B027;
}

.highlight {
	color:#f2af3e;
  filter: brightness(1.4);
  transition: filter 0.3s ease;
}
